$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-linkedin: unquote('"\\e900"');
$icon-github: unquote('"\\e901"');
$icon-mastodon: unquote('"\\e902"');
$icon-rss-square: unquote('"\\e903"');
$icon-rss: unquote('"\\e904"');
$icon-mail: unquote('"\\e905"');

