{% extends "base.html" %}

{%- block seo %}
  {{- super() }}
  {%- set title = "Tags" %}
  {%- set description = "List of tags" %}

  {{- macros::seo(title=config.title, title_addition="Tags", description=description, is_page=true) }}
{%- endblock seo %}

{%- block content %}
<h2>Tags</h2>
<div class="tags">
  <ul>
    {%- for term in terms %}
    <li>
      <a href="{{ term.permalink | safe }}">
        {{ term.name }} ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
      </a>
    </li>
    {%- endfor %}
  </ul>
</div>
{%- endblock %}
