<nav id="navbar">
    {%- for item in config.extra.menu %}
    <a href="{{ item.url | safe }}" class="btn">
        {{ item.name }}
    </a>
    {%- endfor %} {%- if config.extra.github.username %}
    <a
        href="{{ 'https://www.linkedin.com/in/' ~ config.extra.linkedin.username | safe }}"
        class="btn btn-linkedin"
        target="_blank"
    >
        <span class="icon icon-linkedin"></span>About me</a
    >
    {%- endif %} {%- if config.extra.github.username %}
    <a
        href="{{ 'https://github.com/' ~ config.extra.github.username | safe }}"
        class="btn btn-github"
        target="_blank"
    >
        <span class="icon icon-github-circled"></span>{{ config.extra.github.username }}</a
    >
    {%- endif %}
</nav>
