<article class="page">
  <h2>
      {%- if page.extra.emoji %}
      <a href="{{ page.permalink | safe }}">{{ page.extra.emoji }} {{ page.title }}</a>
      {%- else %}
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      {%- endif %}
  </h2>
  <div class="page-info">
    <div class="entry">
        {%- if page.description %}
        {{ page.description | safe }}
        {%- else %}
        {{ page.content | spaceless | striptags | truncate(length=200) }}
        {%- endif %}
    </div>
  </div>
  <time class="smaller" datetime="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S%:z") }}">
    {{ macros::page_timestamp(page=page) }}
  </time>

  <div class="page-footer">
    {%- if page.description %}
    <a href="{{ page.permalink | safe }}" class="read-more">Read More</a>
    {%- endif %}
  </div>
</article>
