{% import "macros.html" as macros %}
<!DOCTYPE html>
{%- set lang = config.extra.language_code | default(value="en-US") -%}
<html lang="{{ lang }}" xml:lang="{{ lang }}">
  
<head>
  {% include "partials/head.html" -%}
  {%- block seo %}
  {%- endblock seo %}
</head>

<body>
  <header>
    <div class="container">
      <a id="a-title" href="/">
        <h1>👋 {{ config.title }}</h1>
      </a>
      <h2>{{ config.description }}</h2>
      {% include "partials/navigation.html" -%}
    </div>
  </header>

  <div class="container">
    <main>
      {%- block content %}
      {%- endblock %}
    </main>
  </div>
  <footer>
    {%- include "partials/footer.html" -%}
  </footer>
</body>

</html>
