{%- extends "base.html" %}

{%- block seo -%}
  {{- super() }}

  {{- macros::seo(title=config.title, description=config.description, is_home=true) }}
{%- endblock seo %}

{%- block content %}
<div class="pages">
  {%- for page in paginator.pages %}
    {% include "partials/post-short.html" -%}
  {%- endfor %}
</div>
{%- if paginator.total_pages > 1 %}
<div class="pagination">
  {%- if paginator.previous %}
  <a href="{{ paginator.previous | safe }}" class="previous-page">&lt;-- Previous</a>
  {%- endif -%}{%- if paginator.next %}
  <a href="{{ paginator.next | safe }}" class="next-page">Next --&gt;</a>
  {%- endif %}
</div>
{%- endif -%}
{%- endblock %}
