{%- extends "base.html" %}

{%- block seo -%}
  {{- super() }}

  {%- if page.relative_path is starting_with("posts/") %}
    {%- if page.description %}
        {%- set description = page.description %}
    {%- else %}
        {%- set description = page.content | spaceless | striptags | truncate(length=200) %}
    {%- endif %}
    {%- set type = "article" %}
  {%- else %}
    {%- if page.description %}
      {%- set description = page.description %}
    {%- else %}
      {%- set description = config.description %}
    {%- endif %}
    {%- set type = "website" %}
  {%- endif %}

  {{- macros::seo(title=config.title, title_addition=page.title, description=description, type=type, is_page=true) }}
{% endblock seo %}

{%- block content %}
<article class="page">
  <div class="header-container">
    {%- if page.extra.emoji %}
    <h2>{{ page.extra.emoji }} {{ page.title }}</h2>
    {%- else %}
    <h2>{{ page.title }}</h2>
    {%- endif %}
    </h2>
  </div>
  {%- if not page.extra.no_page_info %}
  <div class="page-info">
    {%- if page.taxonomies.tags %}
    <div class="page-tags mb-1em">Tags = [
      {%- for tag in page.taxonomies.tags %}
      {%- set tag_url = get_taxonomy_url(kind="tags", name=tag) %}
      <a href="{{ tag_url | safe }}" class="page-tag">{{ tag }}</a>
      {%- if not loop.last %},
      {%- endif %}
      {%- endfor %} ]
    </div>{% endif %}
    <time class="page-time smaller" datetime="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S%:z") }}">
      {{ macros::page_timestamp(page=page) }}
    </time>
  </div>
  {%- endif %}
  <div class="entry">
    {{ page.content | safe }}
  </div>
  <div class="page-footer">
      {{ macros::get_edit_url(page=page) }}
  </div>
</article>
{% endblock %}
